/*añado lo de los colores*/
:root{
    --color1: #00686c;
    --color2: white;
    --color3: #edecb3;
}
/*fuente*/
*{
    font-family: Blinker-Light; 
}
/*similares*/
header, footer{
    background-image: url("../media/images/Picto_infobox_cinema.png");
    background-color: var(--color1);
    background-repeat:no-repeat;
    background-position: right;
    background-size: contain;
}
/*body*/
body{
    text-decoration: none;
}
/*header*/
body>header{
    display: flex;
    width: 99.9%;
    color: var(--color2);
    text-align: center;
    align-items: center;
}
body>header>img{
    border-radius: 100%;
    margin: 0% 0% 0% 25%; 
}
h1{
    color:var(--color3);
    padding: 2%;
    text-align:center;
    background-size: contain;
}
/*navegador*/
nav{
    background-color: var(--color1);
    align-items: center;
}
nav>ul>li{
    background-color: var(--color3);
    color: var(--color1);
    padding: 0.8% 1% 0.8% 1%;
    margin: 0.7% 6.4% 0.7% 0%;
    text-align: center;
}
nav>ul>li:hover{
    background-color: var(--color2);
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none; /*quitar el puntito del ul*/
}
nav>ul>li>a{
    text-decoration: none;
    color: var(--color1);
}

/*main*/
main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/*contenedores en general*/
.unidad2, .unidad3, .unidad4, .unidad5, .unidad6, .unidad7, .unidad8, .examen, .link{
    display: block;
    background-color: var(--color2);
    padding: 0.1%;
    margin: 0% 2% 2% 0.5%;
    width: 30%;
    height: cover;
    border: var(--color1) solid;
}
/*individual*/
.unidad3{
    background-image: url("../media/images/7365.jpg");
    background-color: var(--color2);
    background-repeat:no-repeat;
    background-position: bottom right;
    background-size: 47%;
}
.unidad4{
    background-image: url("../media/images/header.jpg");
    background-color: var(--color2);
    background-repeat:no-repeat;
    background-position: bottom right;
    background-size: 40%;
}
/*headers*/
div>header{
    color: var(--color3);
    background-size: 30%;
    text-align: center;
    padding: 0.5%;
}
/*class*/
ol{
    background-color: var(--color2);
    padding: 2%;
    background-size: contain;
}
ol>li{
    background-color: var(--color3);
    color: var(--color1);
    padding: 2% 0% 3.5% 2.5%;
    display: block;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    list-style-type: none;   /*quitar lo de 1- de la lista*/
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
ol>li>a:hover{
    color: var(--color2);
}
ol>li>a{
    color: var(--color3);
    background-color: var(--color1);
    padding: 2.5% 4% 2.5% 4%;
    margin:  0% 3% 0% 3%;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    align-items: end;   /*ponelos a la derecha*/
}
/*images*/
/*boton inicio*/
.boton{
    position: fixed;
    top: 5%;
    left: 95%;  
    width: 45%;
}
/*footer*/
footer{
    color: var(--color3);
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-top: 20px;
    padding-left: 2%;
    padding-right: 8%;
}
footer>a{
    text-decoration: none;
    color: var(--color3);
}